language: python
python:
- 3.4
sudo: required
dist: trusty
before_install:
- lsb_release -a
- env | sort
- type -a python
- type -a python3
- type -a python3.4
- sudo apt-add-repository -y ppa:ansible/ansible
- sudo apt-get -qq update
- sudo apt-get install -y ansible
install:
- virtualenv -p python3.4 /tmp/non-ansible-venv
- source /tmp/non-ansible-venv/bin/activate
- env | sort
- pip install --no-input --upgrade --pre --cache-dir=/tmp/pip-cache git+https://github.com/internetarchive/warcprox.git#egg=warcprox
- deactivate
- ansible-playbook --inventory-file=inventory playbook.yml # -vvv 
script:
- ls -l /tmp/non-ansible-venv/bin
- ls -l /tmp/non-ansible-venv/lib/python3.4/site-packages
- ls -l /tmp/ansible-venv/bin
- ls -l /tmp/ansible-venv/lib/python3.4/site-packages
- /tmp/ansible-venv/bin/pip --version

