---
- hosts: warcprox
  tasks:
  - name: 'env | sort'
    shell: 'env | sort'
    register: out
  - debug: msg="{{out.stdout_lines}}"
  # - debug: msg="{{out.stderr_lines}}"

  - name: which python3.4
    shell: which python3.4
    register: out
  - debug: msg="{{out.stdout_lines}}"
  # - debug: msg="{{out.stderr_lines}}"

  - name: which pip
    shell: which pip
    register: out
  - debug: msg="{{out.stdout_lines}}"
  # - debug: msg="{{out.stderr_lines}}"

  - name: which pip3
    shell: which pip3
    register: out
  - debug: msg="{{out.stdout_lines}}"
  # - debug: msg="{{out.stderr_lines}}"

  - name: which virtualenv
    shell: which virtualenv
    register: out
  - debug: msg="{{out.stdout_lines}}"
  # - debug: msg="{{out.stderr_lines}}"

  - name: pip --version
    shell: pip --version
    register: out
  - debug: msg="{{out.stdout_lines}}"
  # - debug: msg="{{out.stderr_lines}}"

  - name: pip3 --version
    shell: pip3 --version
    register: out
  - debug: msg="{{out.stdout_lines}}"
  # - debug: msg="{{out.stderr_lines}}"

  - pip: name=git+https://github.com/internetarchive/warcprox.git#egg=warcprox
         virtualenv=/tmp/ansible-venv
         virtualenv_python=python3.4
         extra_args='--no-input -vv --log=/tmp/ansible-pip-log --upgrade --pre --cache-dir=/tmp/pip-cache'

